.textview_theme {
    background-color: #EDD2A4;
    background: #EDD2A4;
    color: black;
    font-weight: normal;
    font-size: 16pt;
    font-family: Sans-serif;
}

.result_theme {
    background-color: #EDD2A4;
    background: #EDD2A4;
    color: black;
    font-weight: normal;
    font-size: 16pt;
    font-family: Sans-serif;
}
